<form class="buscador-container">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Palabra</mat-label>
        <input #palabra type="text" placeholder="Escoge una" class="palabra" name="palabra" id="palabra" aria-label="palabra" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="buscarOn(palabra.value)">Buscar</button>
</form>