.example-card {
    max-width: 400px;
    max-height: 350px;
    border-radius: 20px;
    margin: 5px;
    margin-top: 40px;
    background-color: lightgray;
  }
  
  .buttons-center{
    text-align: center;
  }
  
  .text-center{
    text-align: center;
  }
  
  .image-size{
    height: 200px;
    width: 300px;
  }