<div class="card">
    <mat-card class="word-card" *ngIf="palabra !== undefined  else nopalabra">
        <mat-card-header class="word-card_header">
            <mat-card-title class="text text-center word-card_title">{{palabra?.palabra}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text text-center word-card-body">
            <p>Descripcion: {{palabra?.descripcion}}</p>
            <p>Fecha Alta: {{palabra?.fechaAlta}}</p>
            <p *ngIf="palabra?.fechaModificacion==''">Fecha Modificacion: {{palabra?.fechaModificacion}}</p>

            <table class="table table-center">
                <tr>
                    <th class="text-subr">Palabra ingles</th>
                </tr>
                <tr class="table_row cursor" *ngFor="let element of palabra.palabrasIngles">
                    <td>
                        {{element.palabra}}
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
                            (click)="inglesOn(element)">
                            <img src="https://image.flaticon.com/icons/png/512/323/323329.png" width="30px" />
                        </button>
                    </td>
                </tr>
            </table>

        </mat-card-content>
    </mat-card>
</div>

<mat-card-actions class="buttons buttons-center buttons-margintop">
    <button mat-raised-button color="primary" class="button" (click)="volverOn()">
        <mat-icon>arrow_back</mat-icon>
        BACK
    </button>
</mat-card-actions>

<ng-template class="empty" #nopalabra>
    <br>
    <h2 class="centrar">No hay palabra que mostrar</h2>
</ng-template>