<mat-toolbar color="primary" class="main-header" *ngIf="logueado==true">
    <mat-toolbar-row class="main-header-content">
        <span (click)="inicio()" class="main-header_title">Diccionario</span>
        <span class="main-header_icons-spacer"></span>
        <abbr title="Español" >
            <button mat-icon-button class="main-header_icon" aria-label="Español"
                (click)="espanolOn()">
                <img class="main-header_icon-img" src="https://image.flaticon.com/icons/png/512/197/197593.png"/>
            </button>
        </abbr>
        <abbr title="Ingles">
            <button mat-icon-button class="main-header_icon" aria-label="Ingles"
                (click)="inglesOn()">
                <img class="main-header_icon-img" src="https://image.flaticon.com/icons/png/512/323/323329.png"/>
            </button>
        </abbr>
        <abbr title="Logout" >
            <button mat-raised-button color="accent" (click)="logout()">Logout <mat-icon>exit_to_app</mat-icon></button>
        </abbr>
    </mat-toolbar-row>
</mat-toolbar>

