<div *ngIf="logueado==true">
  <mat-toolbar class="perfil-toolbar perfil-toolbar_background">
    <mat-toolbar-row>
      <button   mat-mini-fab disabled aria-label="Example icon button with a home icon">
        <mat-icon (click)="drawer.toggle()">account_circle</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav class="perfil-container perfil-container_backgroud" #drawer mode="side" opened role="navigation">
      <div class=" img-perfil img-perfil-container">
        <img class="img-perfil" src={{foto}} alt="Foto Perfil">
      </div>
      <mat-nav-list>
        <div mat-list-item class="text-perfil"><b>Nombre: </b> <p>{{nombre}}</p></div>
        <div mat-list-item class="text-perfil"><b>Usuario:</b><p>{{usuario}}</p></div> 
      </mat-nav-list>
      <div class="buttons-center">
        <button mat-raised-button color="accent" (click)="logout()">Logout <mat-icon>exit_to_app</mat-icon></button>
    </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>