<mat-sidenav-container class="dialog-sidenav" *ngIf="logueado == true else nologin">
    <mat-sidenav-content class="dialog-sidenav-content">
        <form [formGroup]="formEspanol" class="dialog-sidenav_form">

            <mat-form-field class="dialog-sidenav_form-field">
                <input *ngIf="editando==true" matInput placeholder="palabra" formControlName="palabra" readonly>
                <input *ngIf="editando==false" matInput placeholder="palabra" formControlName="palabra" >
            </mat-form-field>

            <mat-form-field class="dialog-sidenav_form-field">
                <input matInput placeholder="descripcion" formControlName="descripcion">
            </mat-form-field>

            <div *ngIf="!formEspanol.valid" class="dialog-sidenav_form-invalid">
                Palabra y Descripcion son requeridos.
            </div>

            <div class="buttons">
                <button mat-raised-button color="primary" *ngIf="formEspanol.valid" (click)="enviar()">Enviar</button>
                <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
            </div>

        </form>
    </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #nologin>
    <br>
    <p class="image-center"><iframe src="https://giphy.com/embed/8TweEdaxxfuElKkRxz" width="480"
         height="361" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
    <h1 class="text-center">Tienes que estar logueado</h1>
    <div class="buttons buttons-center">
        <button mat-raised-button color="primary" (click)="login()">LOGIN</button>
    </div>
</ng-template>