<h2 class="text text-center text-paddingtop">Welcome to the english dictionary</h2>

<div *ngIf="lista_ingles_web.length > 0 else nopalabras">
    <form class="search">
        <mat-form-field class="search_field" appearance="fill">
            <mat-label>Buscar Palabra</mat-label>
            <input #palabra type="text" placeholder="Escoge una" class="palabra" name="palabra" id="palabra"
                aria-label="palabra" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br />
        <div class="buttons buttons-center buttons-search">
            <button mat-raised-button color="primary" (click)="buscarOn(palabra.value)">Buscar</button>
        </div>
    </form>

    <table mat-table [dataSource]="lista_ingles_web" class="table mat-elevation-z8">

        <ng-container class="table_column" matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef class="text text-bold text-center"> Id </th>
            <td mat-cell *matCellDef="let element" class="text text-center"> {{element.id}} </td>
        </ng-container>

        <ng-container class="table_column" matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef class="text text-bold text-center"> Name </th>
            <td mat-cell *matCellDef="let element" class="text text-center"> {{element.palabra}} </td>
        </ng-container>

        <ng-container class="table_column" matColumnDef="Traduction">
            <th mat-header-cell *matHeaderCellDef class="text text-bold text-center"> Traduction </th>
            <td mat-cell *matCellDef="let element" class="text text-center cursor" (click)="espanolOn(element)">
                {{element.palabraEspanol}}
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <img src="https://image.flaticon.com/icons/png/512/197/197593.png" width="15px" />
                </button>
            </td>
        </ng-container>

        <ng-container class="table_column" matColumnDef="CreateDate">
            <th mat-header-cell *matHeaderCellDef class="text text-bold text-center"> CreateDate </th>
            <td mat-cell *matCellDef="let element" class="text text-center"> {{element.fechaAlta}} </td>
        </ng-container>

        <ng-container class="table_column" matColumnDef="ModifyDate">
            <th mat-header-cell *matHeaderCellDef class="text text-bold text-center"> ModifyDate </th>
            <td mat-cell *matCellDef="let element" class="text text-center"> {{element.fechaModificacion}} </td>
        </ng-container>

        <ng-container class="table_column" matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef class="text text-bold text-center"> Action </th>
            <td mat-cell *matCellDef="let element" class="text text-center buttons buttons-center">
                <button mat-fab color="primary" (click)="editarOn(element)" class="button-scaled">
                    <mat-icon> border_color</mat-icon>
                </button>
                <button mat-fab color="warn" (click)="borrarOn(element)" class="button-marginleft button-scaled">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div class="buttons buttons-center buttons-margintop">
    <button mat-raised-button class="button button-green" (click)="aniadirOn()">
        <mat-icon>library_add</mat-icon> Add word
    </button>
</div>

<ng-template #nopalabras>
    <br>
    <p class="image-center"> <iframe class="image-margintop image-size_nopalabras giphy-embed" src="https://giphy.com/embed/3owypkSIpM8xw6p7W0" frameBorder="0" allowFullScreen></iframe></p>
    <h3 class="text-center">There aren´t any words to show</h3>
</ng-template>