.buttons-center {
    text-align: center;
    margin-bottom: 20px;
}

.button-scaled{
    transform: scale(0.8);
}


.buttons-search {
    margin-left: 10px;
}

.buttons-add {
    margin-top: 40px;
}

.buttons-size {
    width: 30px;
}

.cursor {
    cursor: pointer;
}

.cursor:hover{
    background-color: #DEADFF;
}

.button-marginleft {
    margin-left: 10px;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    width: 100%;
}

.mat-raised-button.mat-success {
    color: #f0fff3;
    background-color: #155724;
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 50px;
}

.text-margintop {
    margin-top: 30px;
}

.text-bold {
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.buscador-container {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

