.buttons-center {
    text-align: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

table {
    width: 100%;
}

.mat-raised-button.mat-success{
  color: #f0fff3;
  background-color: #155724;
}