.container-card {
    display: flex;
    justify-content: center;
}

.example-card {
    min-width: 500px;
    max-height: 450px;
    border-radius: 20px;
    margin: 5px;
    margin-top: 40px;
    background-color: #ecad50;
}

.buttons-center {
    text-align: center;
}

.text-center {
    text-align: center;
    margin: auto;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    background-color: #deadff;
}

.card-title {
    font-size: 30px;
    padding-bottom: 15px;
    text-decoration: underline black;
}

.buttons-spacingtop {
    margin-top: 40px;
}

.image-size {
    height: 200px;
    width: 300px;
}

.mat-card-header {
    justify-content: center;
}
