<div class="cards">
    <div class="card">
        <mat-card class="card-idioma">
            <mat-card-header>
                <mat-card-title>Ingles</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="image image-size_idioma"
                src="https://cdn.pixabay.com/photo/2016/02/10/21/46/flag-1192625_960_720.jpg"
                alt="Bandera de Reino Unido">
            <mat-card-content class="text text-center">
                <p>
                    Tu diccionario de ingles
                </p>
            </mat-card-content>
            <mat-card-actions class="buttons buttons-center">
                <button mat-raised-button color="primary" (click)="ingles()">ENTRAR</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="card">
        <mat-card class="card-idioma">
            <mat-card-header>
                <mat-card-title>Español</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="image image-size_idioma"
                src="https://cdn.pixabay.com/photo/2016/04/29/17/09/flag-1361373_960_720.jpg"
                alt="Bandera de España">
            <mat-card-content class="text text-center">
                <p>
                    Tu diccionario de español
                </p>
            </mat-card-content>
            <mat-card-actions class="buttons buttons-center">
                <button mat-raised-button color="primary" (click)="espanol()">ENTRAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>