$background-card-idioma: lightgray;
$background-card-palabra: #ecad50;
$hover-color-link-palabra: #deadff;
$color-text-button:white;
$background-color-button-success:#155724;
$color-negro:black;
$color-negro-subrayado:underline black;
$scalado-button:scale(0.8);
$background-image-home:url("../images/book.webp");